{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
<div class="container-fluid">

{{ wtf.quick_form(comment_form) }}
{% for comment in comment %}
<div class="jumbotron">
  <P>{{comment.comment}}</P>
  <p>{{comment.posted.strftime('%D %m %y')}}</p>

  <a href="/delete_comment/{{comment.id}}">
     <button class="btn btn-outline-danger btn-sm"  style="color:white;">Delete Comment</a></button>
</div>


{% endfor %}

</div>
{% endblock %}
